<div class="content_display">
  <%= markdown @entry.content %>
</div>

<%= separator %>

<div class="totheright">
  <%= link_to 'Destroy', @entry, :confirm => 'Are you sure?', :method => :delete %>
  <%= 3.spaces %>
  <%= link_to 'Edit', edit_entry_path(@entry) %>
</div>

<%= separator %>

<% if @entry.tags.length > 0 %>
  <p>
    <b>Tags:</b>
    <%= link_entry_tags @entry %>
  </p>

  <%= separator %>
<% end %>

<% @entry.each_filter_item do |type, item, url| %>
  <p>
    <b><%=h type %>:</b>

    <% if url %>
      <%= link_to item, url %>
    <% else %>
      <%=h item %>
    <% end %>
  </p>
<% end %>
