<div class="content_display">
  <%= markdown @entry.linkup %>

  <% unless @entry.tags.blank? %>
    <%= separator %>

    <p style="text-align: right; font-style: italic; font-size: 0.75em">
      <%= link_entry_tags @entry, :class => 'entrytags' %>
    </p>
  <% end %>
</div>

<div class="content_timestamp" style="float: left">
  updated <%= pretty_datetime(@entry.updated_at) %>
</div>

<div class="content_timestamp" style="float: right">
  created <%= pretty_datetime(@entry.created_at) %>
</div>

<%= separator %>

<div class="totheright">
  <%= edit_entry_link(@entry) %>
  <%= destroy_entry_link(@entry) %>
</div>

