<div class="content_display">
  <%= markdown @entry.content %>
</div>

<div class="content_timestamp" style="float: left">
  updated <%= pretty_datetime(@entry.updated_at) %>
</div>

<div class="content_timestamp" style="float: right">
  created <%= pretty_datetime(@entry.created_at) %>
</div>

<%= separator %>

<div class="totheright">
  <%= edit_entry_link(@entry) %>
  <%= 3.spaces %>
  <%= destroy_entry_link(@entry) %>
</div>

<%= separator %>

<% if @entry.tags.length > 0 %>
  <p>
    <b>Tags:</b>
    <%= link_entry_tags @entry %>
  </p>

  <%= separator %>
<% end %>

<% @entry.each_filter_item do |type, item, url| %>
  <p>
    <b><%=h type %>:</b>

    <% if url %>
      <%= link_to item, url %>
    <% else %>
      <%=h item %>
    <% end %>
  </p>
<% end %>
