<% form_for(@entry) do |f| %>
  <%= f.error_messages %>

  <div id="content_preview" style="display: none">
  </div>

  <div id="content_edit_section">
    <div id="content_edit" class="content_edit">
      <label>Content (<a href="http://daringfireball.net/projects/markdown/basics">Markdown</a>)</label>
      <textarea id="entry_content" name="entry_content" class="full_width_edit" rows="15"><%= @entry.content %></textarea>
    </div>

    <%= separator %>

    <div class="tags_edit">
      <label>Tags</label>
      <% tags = @entry.pretty_tags %>
      <input type="text" id="entry_tags" name="entry_tags" value="<%=h tags %>" class="full_width_edit" />
    </div>
  </div>

  <%= separator %>

  <div class="totheright">
    <img id="loading_spinner" src="/images/spinner.gif" style="display: none" />
    <a href="#" id="preview_link" class="view_link">Preview</a>
    <%= destroy_entry_link(@entry) unless @entry.new_record? %>
    <%= cancel_link %>
    <%= submit_link(@entry.new_record? ? "Create" : "Save") %>
  </div>
<% end %>

<script lang="JavaScript">
  var auto_suggest_options = {
    script: '/entries/suggest_tags?',
    varname: 'input',
    json: true,
    maxresults: 20,
    timeout: 10000,
    shownoresults: false,
    minchars: 1
  };
  var auto_suggest = new bsn.AutoSuggest('entry_tags', auto_suggest_options);

  $('#preview_link').click(function() {
    var preview = $('#content_preview');
    var edit = $('#content_edit_section');
    var link = $('#preview_link');
    var spinner = $('#loading_spinner');
    var editor = $('#entry_content');
    var tags = $('#entry_tags');

    if (preview.css('display') == 'none') {
      link.hide();
      spinner.show();

      $.ajax({
        type: 'GET',
        url: '/entries/preview',
        data: $.param({content: editor.val(), tags: tags.val()}),

        error: function() {
          alert('Failed to download the preview from SwankDB :-(');
        },

        success: function(data) {
          edit.hide();
          preview.html(data);
          preview.show();
          link.text('Edit');
        },

        complete: function() {
          link.show();
          spinner.hide();
        }
      });
    } else {
      preview.hide();
      edit.show();
      link.text('Preview');
    }

    return false;
  });

  $('#entry_content,#entry_tags').highlightWhenFocused();
  $('#entry_content').focus();
</script>
