<% form_for(@entry) do |f| %>
  <%= f.error_messages %>

  <div class="content_edit">
    <h3>Content (<a href="http://daringfireball.net/projects/markdown/basics">Markdown</a>)</h3>
    <%= f.text_area :content, :class => 'full_width_edit', :rows => 10 %>
  </div>

  <%= separator %>

  <div class="tags_edit">
    <%= h3 'Tags' %>
    <% tags = @entry.tags.map {|t| t.name}.join(' ') %>
    <input type="text" id="entry_tags" name="entry_tags" value="<%=h tags %>" class="full_width_edit" />
  </div>

  <%= separator %>

  <div class="totheright">
    <%= f.submit 'Save' %>
  </div>
<% end %>

<script lang="JavaScript">
  var auto_suggest_options = {
    script: '/tags/suggest?',
    varname: 'input',
    json: true,
    maxresults: 20,
    timeout: 10000,
    shownoresults: false,
    minchars: 1
  };
  var auto_suggest = new bsn.AutoSuggest('entry_tags', auto_suggest_options);

  $('textarea#entry_content').autoResize({
    animate: false,
    animateDuration: 0,
    extraSpace: 0
  });

  $('textarea#entry_content').focus();
</script>
