<% form_for(@entry) do |f| %>
  <%= f.error_messages %>

  <div class="content_edit">
    <%= h3 'Content' %>
    <%= f.text_area :content, :class => 'entry_edit', :rows => 10 %>
  </div>

  <%= separator %>

  <div class="tags_edit">
    <%= h3 'Tags' %>
    <% tags = @entry.tags.map {|t| t.name}.join(' ') %>
    <input type="text" id="entry_tags" name="entry_tags" value="<%=h tags %>" class="entry_edit" />
  </div>

  <%= separator %>

  <div class="submit_line">
    <%= f.submit 'Save' %>
  </div>
<% end %>

<script lang="JavaScript">
  $('textarea#entry_content').autoResize({
    animate: false,
    animateDuration: 0,
    extraSpace: 0
  });

  $('textarea#entry_content').focus();
  setCaretTo($('textarea#entry_content'), $('textarea#entry_content').value.length);
</script>
