%p

  - form_tag do

    %p

      = label_tag :destination, "Please enter your recipient's email address"
      %br
      = text_field_tag :destination, '', :class => :full_width_edit

    %p

      = label_tag :subject, "Please enter a subject for the email"
      %br
      = text_field_tag :subject, "A Swank Note from #{@user.andand.username.andand.capitalize}", :class => :full_width_edit

    %p.totheright

      = cancel_link
      = submit_link 'Send'

= separator

%p

  = render :partial => 'display'

:javascript

  $('#destination,#subject').highlightWhenFocused();
  $('#destination').focus();
