<% unless @results_only %>

<table class="entry_list_table">

  <tr class="list_header_row">
    <th class="list_header_cell list_content_header_cell">
      <%= @entries_count %>
      <%= @entries_count != 1 ? 'entries' : 'entry' %>
      <%= @description %>
    </th>

    <th class="list_header_cell list_update_header_cell">
      <%= toggle_entries_sort_link %>
    </th>
  </tr>

  <tbody id="entry_list_table_body">

<% end %>

    <% @entries.each do |entry| %>
      <tr class="list_row">
        <td class="list_cell">

          <%= entry.content %>

          <% unless entry.tags.blank? %>
            <br />
            <br />
            <%= link_entry_tags(entry, :class => :list_tag) %>
          <% end %>

          <div id="hidden_entry_links" style="float: right">
            <br />
            <br />

            <%= link_to 'View', entry, :class => 'hidden_entry_link view_link' %>
            <%= link_to 'Edit', edit_entry_path(entry), :class => 'hidden_entry_link edit_link' %>
            <%= link_to 'Destroy', entry, :method => :delete, :class => 'hidden_entry_link destroy_link', :confirm => Entry::DESTROY_TEXT %>
          </div>
        </td>

        <td class="list_cell list_updated_at_cell">
          <%= nbsp entries_time_show(entry) %>
        </td>
      </tr>
    <% end %>

<% unless @results_only %>

  </tbody>

  <tr class="list_footer_row">
    <td class="list_footer_cell" colspan="2" style="text-align: right">
      <img id="loading_spinner" src="images/spinner.gif" style="display: none" />

      <% if @entries.length < @entries_count %>
        <a href="#" id="get_more_results">Get more results</a>
      <% end %>
    </td>
  </tr>

</table>

<script lang="javascript">

  function assign_entry_mouseovers() {
    var rows = $('tr.list_row');

    rows.unbind('mouseenter');
    rows.unbind('mouseleave');

    rows.mouseenter(function(evt) {
      $(this).find('#hidden_entry_links').show();
    }).mouseleave(function(evt) {
      $(this).find('#hidden_entry_links').hide();
    });
  }

  $(document).ready(function() {
    var next_offset = 0;

    $('#get_more_results').click(function() {
      next_offset += <%= EntriesController::ENTRIES_PER_LOAD %>;
      $('#loading_spinner').show();
      $('#get_more_results').hide();

      $.ajax({
        type: 'GET',
        url: '/entries?<%= @params %>&offset=' + next_offset,

        success: function(html) {
          if (/^[\s\r\n]*$/.test(html)) {
            $('#get_more_results').remove();
          } else {
            $('#entry_list_table_body').append(html);
            assign_entry_mouseovers();
          }
        },

        complete: function() {
          $('#loading_spinner').hide();
          $('#get_more_results').show();
        }
      });
      $.get('/entries?<%= @params %>', function(html) {
      });
      return false;
    });

    assign_entry_mouseovers();
  });

</script>

<% end %>
