<% unless @results_only %>

<table class="entry_list_table">

  <tr class="list_header_row">
    <th class="list_header_cell list_content_header_cell">
      <span id="description"><%= @description %></span>
      |
      <a href="#" id="quick_add_start">quick add</a>
    </th>

    <th class="list_header_cell list_update_header_cell">
      <%= toggle_entries_sort_link %>
    </th>
  </tr>

  <% form_tag(url_for(:action => :create, :redirect => :index), :id => 'quick_add_form') do %>
    <tr id="quick_add_row" class="" style="display: none">
      <td class="list_cell quick_add_row" colspan="2">
        <label>Content</label><br>
        <input type="text" id="quick_add_content" name="entry_content" class="full_width_edit" style="width: 100%"><br>
        <br>
        <label>Tags</label><br>
        <input type="text" id="quick_add_tags" name="entry_tags" class="full_width_edit" style="width: 100%" value="<%= @default_tags %>"><br>
        <br>

        <div class="totheright">
          <input type="submit" style="display: none">
          <a href="#" id="quick_add_submit" class="save_link">Add</a>
        </div>
      </td>
    </tr>
  <% end %>

  <tbody id="entry_list_table_body">

<% end %>

    <% @entries.each do |entry| %>
      <tr class="list_row">
        <td class="list_cell">

          <p class="entry_index_content">
            <%= summarize_entry_content entry %>
          </p>

          <p class="entry_index_tags"><%= link_entry_tags(entry, :class => :list_tag) %></p>

          <p class="entry_index_hidden_links">
            <%= view_entry_link entry %>
            <%= edit_entry_link entry %>
            <%= destroy_entry_link entry %>
          </p>
        </td>

        <td class="list_cell list_updated_at_cell">
          <%= nbsp entries_time_show(entry) %>
        </td>
      </tr>
    <% end %>

<% unless @results_only %>

  </tbody>

  <tr class="list_footer_row">
    <td class="list_footer_cell" colspan="2" style="text-align: right">
      <img id="loading_spinner" src="images/spinner.gif" style="display: none" />
      <a href="#" id="get_more_results" style="<%= 'display: none' if @entries.length >= @entries_count %>">Get more results</a>
    </td>
  </tr>

</table>

<script lang="javascript">

  var next_offset = <%= EntriesController::ENTRIES_PER_LOAD %>;
  var paging_complete = false;

  function assign_pager() {
    $('#get_more_results').click(function() {
      $('#loading_spinner').show();
      $('#get_more_results').hide();

      $.ajax({
        type: 'GET',
        url: '/entries?<%= @params %>&offset=' + next_offset,

        success: function(html) {
          if (/^[\s\r\n]*$/.test(html)) {
            paging_complete = true;
          } else {
            next_offset += <%= EntriesController::ENTRIES_PER_LOAD %>;
            $('#entry_list_table_body').append(html);
            assign_entry_mouseovers();
          }
        },

        complete: function() {
          $('#loading_spinner').hide();

          if (!paging_complete) {
            $('#get_more_results').show();
          }
        }
      });

      return false;
    });
  }

  function reset_count() {
    $.getJSON('/entries?<%= @params %>&query', function(json) {
      $('.list_header_row #description').html(json.description);
    });
  }

  function clear_pager() {
    next_offset = 0;
    paging_complete = false;
    $('#entry_list_table_body').empty();
  }

  function reset_pager() {
    clear_pager();
    $('#get_more_results').click();
    reset_count();
  }

  function assign_entry_mouseovers() {
    var rows = $('tr.list_row');

    rows.unbind('mouseenter');
    rows.unbind('mouseleave');

    rows.mouseenter(function(evt) {
      $(this).find('.entry_index_hidden_links').show();
    }).mouseleave(function(evt) {
      $(this).find('.entry_index_hidden_links').hide();
    });
  }

  function assign_quick_add() {
    $('#quick_add_start').click(function() {
      if ($('#quick_add_row').toggleAndCheck()) {
        $('#quick_add_content').focus();
        $('#quick_add_content').select();
        $('#quick_add_start').text('hide quick add');
      } else {
        $('#quick_add_start').text('quick add');
      }
    });

    $('#quick_add_submit').click(function() {
      $('#quick_add_form').submit();
    });

    $('#quick_add_form').submit(function() {
      clear_pager();

      $('#loading_spinner').show();
      $('#get_more_results').hide();
      $('#quick_add_row').hide();

      $.ajax({
        type: 'POST',
        url: '/entries?redirect=none',
        data: $('#quick_add_form').serialize(),

        success: function() {
          $('#quick_add_content').val('');
        },

        complete: function() {
          reset_pager();
        }
      });

      return false;
    });

    $(document).bind('keyup', {combi:'n', disableInInput: true}, function() {
      $('#quick_add_start').click();
    });

    $(document).bind('keyup', 'esc', function() {
      $('#quick_add_start').click();

      if (!$('#quick_add_row').visible()) {
        $('#quick_add_start').focus();
      }
    });

    $('#quick_add_content,#quick_add_tags').highlightWhenFocused();
  }

  $(document).ready(function() {
    assign_pager();
    assign_entry_mouseovers();
    assign_quick_add();
  });

</script>

<% end %>
