<p>
  <%= markdown @entry.content %>
</p>

<%= separator %>

<p>
  <b>Tags:</b>
	<%= link_entry_tags @entry %>
</p>

<%= separator %>

<% @entry.each_filter_item do |type, item, url| %>
  <p>
		<b><%=h type %>:</b>

		<% if url %>
			<%= link_to item, url %>
		<% else %>
		  <%=h item %>
		<% end %>
	</p>
<% end %>

<%= separator %>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
