<%= h2 "Set a new password for #{@user.username}" %>

<%= separator %>

<%= form_tag do %>
  <p>
    <label>Password</label>
    <br />
    <input type="password" id="password1" name="password1" class="full_width_edit" />
  </p>

  <p>
    <label>Password (confirm)</label>
    <br />
    <input type="password" id="password2" name="password2" class="full_width_edit" />
  </p>

  <%= separator %>

  <div class="totheright">
    <input type="hidden" name="reset_code" value="<%= @code.code %>">
    <%= submit_link 'Set Password' %>
  </div>
<% end %>

<script lang="JavaScript">
  $('#password1,#password2').highlightWhenFocused();
  $('#password1').focus();
</script>
