- if @user.temporary
  %h2 New User Account
  %h3 Your existing entries will be saved to your new account.
- else
  %h2 Profile Settings

= form_for(@user) do |f|

  = f.error_messages

  - if @user.temporary
    %p
      %label Username
      %br
      %input#username.full_width_edit{:type => "text", :name => "username"}
    = separator

  %p
    %label
      Password
      = "(leave blank to not change)" unless @user.temporary
    %br
    %input#password1.full_width_edit{:type => "password", :name => "password1"}

  %p
    %label Password (confirm)
    %br
    %input#password2.full_width_edit{:type => "password", :name => "password2"}

  = separator

  %p
    %label Email Address
    %br
    %input#email.full_width_edit{:type => "text", :name => "email", :value => @user.email}

  = separator

  .totheright= submit_link('Update')

:javascript

  $('#username,#password1,#password2,#email').highlightWhenFocused();
  $('#username').focus();

