<h2>Profile Settings</h2>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label 'Password' %><br />
    <input type="password" id="password1" name="password1" class="full_width_edit" />
  </p>

  <p>
    <%= f.label 'Password (confirm)' %><br />
    <input type="password" id="password2" name="password2" class="full_width_edit" />
  </p>

  <%= separator %>

  <p>
    <%= f.label 'Email Address' %><br />
    <input type="text" id="email" name="email" class="full_width_edit" value="<%= @user.email %>" />
  </p>

  <%= separator %>

  <div class="totheright">
    <%= submit_link 'Update' %>
  </div>
<% end %>

<script lang="JavaScript">
  $('#password1,#password2,#email').highlightWhenFocused();
  $('#username').focus();
</script>
