<% if @user.temporary %>
  <h2>New User Account</h2>
<% else %>
  <h2>Profile Settings</h2>
<% end %>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <% if @user.temporary %>
    <p>
      <label>Username</label><br />
      <input type="text" id="username" name="username" class="full_width_edit" />
    </p>

    <%= separator %>
  <% end %>

  <p>
    <label>Password<%= " (leave blank to not change)" unless @user.temporary %></label><br />
    <input type="password" id="password1" name="password1" class="full_width_edit" />
  </p>

  <p>
    <label>Password (confirm)</label><br />
    <input type="password" id="password2" name="password2" class="full_width_edit" />
  </p>

  <%= separator %>

  <p>
    <label>Email Address</label><br />
    <input type="text" id="email" name="email" class="full_width_edit" value="<%= @user.email %>" />
  </p>

  <%= separator %>

  <div class="totheright">
    <%= submit_link 'Update' %>
  </div>
<% end %>

<script lang="JavaScript">
  $('#username,#password1,#password2,#email').highlightWhenFocused();
  $('#username').focus();
</script>
