<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Entries: <%= controller.action_name %></title>

  <%= stylesheet_link_tag 'reset' %>
  <%= stylesheet_link_tag 'fonts' %>
  <%= stylesheet_link_tag 'main' %>

  <%= javascript_include_tag 'jquery-1.3.2.min.js' %>
  <%= javascript_include_tag 'autoresize.jquery.min.js' %>
</head>
<body>

<div class="main_container">
	<div class="header_container">
		<div style="float: left">
			<h1>swankdb</h1>
		</div>

		<div style="position: relative; text-align: right">
			<p style="">
				<%= link_to 'New entry', new_entry_path %>
				<%= 3.spaces %>
				<%= session[:user].andand.username %>
			</p>

			<p style="">
			  <form method="get" action="/entries">
					<input type="text" size="50" name="keywords" id="keywords" />
					<%= 3.spaces %>
					<input type="submit" value="Search" />
			  </form>
			</p>
		</div>
	</div>

	<%= separator %>

	<div class="tags_list">
		<% if session[:user] %>
		  <%= link_to 'All', :controller => :entries, :action => :index %>

		  <% session[:user].tags.each do |tag| %>
		    <%= 3.spaces %>
				<%= link_to tag, :controller => :entries, :action => :index, :tag => tag %>
		  <% end %>
		<% end %>
	</div>

	<%= separator %>

  <div style="">
		<p style="color: green"><%= flash[:notice] %></p>

		<%= yield %>
	</div>

	<%= separator %>
</div>

</body>
</html>
