<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Entries: <%= controller.action_name %></title>

  <%= stylesheet_link_tag 'reset' %>
  <%= stylesheet_link_tag 'fonts' %>
  <%= stylesheet_link_tag 'main' %>
  <%= stylesheet_link_tag 'autosuggest_inquisitor' %>

  <%= javascript_include_tag 'jquery-1.3.2.min.js' %>
  <%= javascript_include_tag 'autoresize.jquery.js' %>
  <%= javascript_include_tag 'bsn.AutoSuggest_2.1.3.js' %>
</head>
<body>

<div class="main_container">
  <div class="header_container">
    <div style="float: left">
      <h1>swankdb</h1>
    </div>

    <div style="position: relative; text-align: right">
      <% if session[:user] %>
        <p>
          <%= link_to 'new entry', new_entry_path %>
          <%= 3.spaces %>
          <%= link_to session[:user].username, :controller => :users, :action => :edit, :id => session[:user].id %>
          <%= 3.spaces %>
          <%= link_to 'logout', :controller => :users, :action => :logout %>
        </p>

        <p>
          <form method="get" action="/entries">
            <input type="text" size="50" name="keywords" id="keywords" />
            <%= 3.spaces %>
            <input type="submit" value="Search" />
          </form>
        </p>
      <% else %>
        <p>
          <%= link_to 'log in', :controller => :users, :action => :login %>
        </p>
      <% end %>
    </div>
  </div>

  <%= separator %>

  <div class="tags_list">
    <% if session[:user] %>
      <%= link_to 'All', :controller => :entries, :action => :index %>

      <% session[:user].tags.each do |tag| %>
        <%= 3.spaces %>
        <%= link_to tag, :controller => :entries, :action => :index, :tag => tag %>
      <% end %>
    <% end %>
  </div>

  <%= separator %>

  <div style="">
    <% unless flash[:notice].blank? %>
      <p style="color: green"><%= flash[:notice] %></p>
    <% end %>

    <% unless flash[:error].blank? %>
      <p style="color: red"><%= flash[:error] %></p>
    <% end %>

    <%= yield %>
  </div>

  <%= separator %>
</div>

</body>
</html>
