<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Entries: <%= controller.action_name %></title>

  <%= stylesheet_link_tag 'style' %>
  <%= stylesheet_link_tag 'autosuggest_inquisitor' %>

  <%= javascript_include_tag 'jquery-1.3.2.min.js' %>
  <%= javascript_include_tag 'jquery.hotkeys-0.7.9.min.js' %>
  <%= javascript_include_tag 'bsn.AutoSuggest_2.1.3.js' %>
  <%= javascript_include_tag 'application.js' %>
</head>
<body>

<div class="main_container">
  <div class="header_container">
    <div style="float: left">
      <h1><a href="/" class="logo">SwankDB</a></h1>
    </div>

    <div style="float: right; text-align: right">
      <% if session[:user] %>
        <p>
          <%= link_to 'new entry', new_entry_path, :class => :nav %>
          |
          <%= link_to 'my account', { :controller => :users, :action => :edit, :id => session[:user].id }, :class => :nav %>
          |
          <%= link_to 'invite a friend', { :controller => :users, :action => :invite }, :class => :nav %>
          |
          <%= link_to 'logout', { :controller => :users, :action => :logout }, :class => :nav %>
        </p>
        <p>
          <form id="searchbox" method="get" action="/entries">
            <input type="text" name="keywords" id="keywords" class="search_box" size="30" />
            <%= 3.spaces %>
            <input type="submit" value="Search" style="display: none" />
            <a href="javascript:$('#searchbox').submit" class="view_link">Search</a>
          </form>
        </p>
      <% else %>
        <p>
          <%= link_to 'log in', { :controller => :users, :action => :login }, :class => 'lookatme' %>
          <%= 3.spaces %>
          or
          <%= 3.spaces %>
          <%= link_to 'create a new account', { :controller => :users, :action => :new }, :class => 'lookatme' %>
        </p>
      <% end %>
    </div>
  </div>

  <%= separator %>

  <div class="tags_list">
    <% if session[:user] %>
      <% clazz = params[:tag].blank? ? 'tagcloud_highlight' : 'tagcloud' %>
      <%= link_to 'All', { :controller => :entries, :action => :index }, :class => clazz %>

      <% session[:user].tags.each do |tag| %>
        <%= 3.spaces %>
        <% clazz = (tag == params[:tag]) ? 'tagcloud_highlight' : 'tagcloud' %>
        <%= link_to tag, { :controller => :entries, :action => :index, :tag => tag }, :class => clazz %>
      <% end %>
    <% end %>
  </div>

  <%= separator %>

  <div class="page_content" style="">
    <% unless flash[:notice].blank? %>
      <p style="color: green"><%= flash[:notice] %></p>
    <% end %>

    <% unless flash[:error].blank? %>
      <p style="color: red"><%= flash[:error] %></p>
    <% end %>

    <%= yield %>
  </div>

  <%= separator * 3 %>

  <div id="page_footer">
    <p>
    <a href="http://swankdb.com">SwankDB</a> is currently in beta testing.
    </p>

    <p>
      Please feel free to contact me, <a href="mailto:alexmchale@swankdb.com">Alex McHale</a>,
      with all of your comments, requests and complaints!
    </p>

    <p>
      Visit SwankDB's <a href="http://bug.swankdb.com/projects/swank">bug tracker</a> to submit issues,
      request features, or see what's in progress.
    </p>
  </div>

  <%= separator * 3 %>
</div>

<script lang="javascript">
  $('#searchbox #keywords').highlightWhenFocused();
</script>

</body>
</html>
